html {
  scroll-snap-type: y mandatory;
}

.App {

  background-color: rgb(0, 0, 0); /* Muda a cor de fundo */

  height: 100vh; /* Tamanho. O VH significa o tamanho da tela do usuário, ele sempre será o tamanho total da tela*/

  display: grid; /* Uma forma de display */

  place-items: center; /* Coloca os itens dentro dele no centro */

}

.app__videos {

  height: 100vh;

  max-height: 800px; /* Adiciona limite ao tamanho */
  width: 80%; /* Muda o comprimento */

  max-width: 500px; /* Adiciona um limite ao comprimento */

  border: 1px solid black; /* Adiciona uma borda de 1 pixel */

  border-radius: 20px; /* Arredonda as bordas */

  overflow: scroll; /* Quando exceder... */

  scroll-snap-type: y mandatory; /* Para fazer o snap no scroll */

  position: relative;

}

/* Para esconder a scroll bar no Chrome, Safari e Opera */

.app__videos::-webkit-scrollbar {
  display: none;
}

/* Para esconder a scrollbar no Internet Explorer, Edge e Firefox  */

.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none; /* Para a barra de scroll sumir */
}